.inkubator-list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img-box-test {
  width: 200px;
  height: 200px;
  background-color: black;
  margin: 20px;
}