
.news-container {
  background: linear-gradient(to right, rgba(16, 30, 90, 0.69) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgba(16, 30, 90, 0.69) 100%);
}

.box {
  width: 346px;
  height: 195px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}